.background {
    background-color: red;
}

.background2 {
    background-color: blue;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.vertical-center {
    display: flex;
    align-items: center;
}

h1, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Lato';
  line-height: 1.8;
  font-size: 16px;
  font-weight: normal;
}

audio {
    margin-top: -10px;
    margin-left: 5%;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Its Just Scouting Hero*/
/* this class will make 'image' responsive*/

#row1 {
    height: 100vh;
    width: 100vw;
}

#row1bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    background-image: url(../img/Rogers_Selects022crop.jpg);
    position: fixed;
    z-index: -100; 
}

/*Hero Text */
.IJS-graphic {
    margin-top: 60%;
}

.IJS-graphic img{
  width: 100%;
}

#row2 {
    background-color: black;
    opacity: .8;
    height: 100vh;
    width: 100vw;
}

.scrollarrow {
    margin-top: 50%;
}

/* THESIS */

#row3 {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
}

.thesis-heading {
    color: white;
    display: block;
    vertical-align: center;
}

#intro { 
	border-left: 2px solid #8EB950;
    margin-top: -150px;
}

p.thesisblock {
    color: white;
}

.block {
    color: white;
    width: 100%;  
}

#girls-silly {
    width:  100%;
    height: auto;
    padding: 10px 10px 10px;
    margin-top: 5%;
    margin-bottom: 20%;
}

/*HIKING VID STYLING*/
#row4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    overflow: hidden;
}

#row4 video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

#row4text {
    width: 100vw;
    height: 100vh;
}

/*HIKING VIDEO BOX STYLING*/

.NN-text {
    color: white;
    width: 100%;
    padding: 20px;
}

.text-block-2a {
  background-color: rgba(31,31,31,.75);
  margin-left: 25px;
  margin-top: 0;
  
}

/*JAMIE QUOTE STYLING*/

#greenborder1 {
	border-left: 2px solid #8EB950;
    margin-left: 50px;
}

.attributionj {
    color: black;
    font-size: 16px;
    margin-top: 0%;
    margin-left: 5%;
    font-style: italic;
}

/*CUB SCOUT MEETINGS*/

#row6 {
    height: 150vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;
}

#row6 iframe {
    width: 75%;
}

#videoheader {
    color: white;
    margin-top: 120px;
    width: 60%;
    
}

#row7 {
    height: 100vh;
    width: 100vw;
    background: url(../img/Rogers_Selects032.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#row7b {
    background-color: #1f1f1f;
    opacity: 1;
    height: 100vh;
    width: 100vw;
}

#row8bg {
    width: 100vw; 
    position: relative;
    z-index: 100;
	opacity: 1;
}

.quote1 {
    width: 50%;
}

.quote1 p {
    color: white;
}

.quote1name {
    text-align: right;
}

.greenborder2 {
	border-left: 2px solid #8EB950;
    padding-left: 10px;
}

.greenborder3 {
	border-right: 2px solid #8EB950;
    padding-right: 10px;
}

#adelequote{
	color: white;
	font-size: 32px;
    margin-top: 0;
    width: 100%;
}

#adele-audio {
   margin-left: 45%; 
   display: block;
   margin-top: -53px;
}

#scoutmeetings {
    width: 70%;
    padding-left:33%;
    margin-top: 2%;
    color: white;
    overflow: scroll;
}


#trees {
    width: 70px;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 47%;
}

.attributiona {
    color: white;
    font-size: 16px;
    margin-top: 0%;
    margin-left: 30%;
    font-style: italic;
    border-left: 4px solid green;
}

#row9a {
   height: 80vh;
   width: 100vw;
    background-color: #1F1F1F;
    position: relative; 
}

#row9a h4 {
    color: white;
    
}

#row9a p {
    color: white;
    width: 50%;
}

.subhead {
    color: #8EB950;
    text-align: center;
}

.undersubhead {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30%;
}



/*BADGES LAYOUT*/

#row9 {
    height: 150vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    padding-top: 10%;
}

.container {
  position: relative; 
}

h4#scoutrankings {
    color: white;
    width: 100%;
    text-align: center;
}

#rankingtext {
    padding: 1%;
    width: 50%;
}

/*LAWSUIT AND HISTORY*/

div#history{
    height: 410vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;
    padding-top: 0%;
}

#historyintro {
    color: white;
    width: 50%;
    margin-left: 25%;
}

#lawsuit-heading {
    color: white;
    width: 100%;
    margin-left: 40%;
}

.archive {
 width: 90%;
 margin-left: 5%;
    
}

.lawsuit {
    margin-left: 30%;
    padding: 0%;
    width: 40%;
    color:  white;
}

/*tagalong stuff*/

#greybg {
    height: 300vh;
    width: 100vw;
	background-color: #D6D6D6;
}

#row11 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;
}

#pq-jamie {
    margin-left: 4%;
    margin-top: 33%;
    color: black;
    font-size: 32px;
}

#jamie-audio {
    margin-top: -50px;
    margin-left: 170px;
    display: block;
} 

.tagalongtext {
	color: black;
}

img.tagalong {
    width: 90%;
    height: auto;
    margin-top: 5%;
    border: 10px solid white;
}


/* ---------- ROW 10 ----*/

#row10 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;
}

/* ---------- ROW 12 ----*/
#row12 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;

}

/*TONY SECTION*/

#row14 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
}

#row14 iframe {
    width: 75%;
}

.tonyintro {
  background: url(../img/rogers_selects_038-1.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

#durmbox {
    border: 1px solid white;
    width: 600px;
    height: auto;
    margin-left: 0;
    margin-top: 70%;
    background-color: rgba(31,31,31,.75);
}

#durmbox p {
    color: white;
    padding: 5%;
    margin-top: 0%;
}

#tonyphoto {
    width: 100%;
    height: auto;
    padding: 0%;
    margin-top: 20%;
}

.pq-tony {
    margin-left: 15%;
    color: white;
    width: 600px;
    font-size: 32px;
    margin-top: 15%;
    background-color: black;
}

#attributiont {
    color: white;
    font-size: 16px;
    margin-top: -30px;
    margin-left: 45%;
    font-style: italic;
    border-left: 4px solid green;
}



#tonyvideo {
    height: 800px;
    position: relative;
    margin-top: 0px;
    padding: 2%;
}



/* ---------- ROW 15 ----*/
#row15 {
	height: 100vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 5%;
}


#row15 img {
    width: 100%;
    height: auto;
    padding-right: 50px;
    padding-top: 50px;
}

#row15 p {
    color: white;
    margin-left: 10%;
	margin-top: 10%;
}

/*FAMILY PICS*/
.gallery {
    margin-top: 100px;
}
.carousel-indicators li {
    width: 18px; 
    height: 18px;
    border-radius: 40%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
        width: 32px;
        height: 32px;
}
.carousel-inner{
    overflow: hidden;
}

#familygallery, #campkootaga {
  padding-left: 10%;
  padding-right: 10%;
}

/*GALLERY 1*/
#row16 {
	height: 100vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 0;
}

/* SEVEN RANGES */
#row17 {
	height: 125vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 0px;
}

img.scanned1 {
  width: 20%;
  height: auto;
  margin-left: 28%;
  margin-top: 5%;
}

img.scanned2 {
  width: 20%;
  height: auto;
  margin-left: 1%;
  margin-top: 5%;
}

p#sevenranges {
    color: white;
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
}

/* ---------- jamie video ----*/

#row19 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F; 
}

#row19 iframe {
    width: 75%;
}

/* ---------- gallery 2 ----*/
#row21 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    
}

/* ---------- FOOTER ----*/

#row23 {
    width: 100%;
    position: relative;
    background-color: #333;
    color: #ffffff;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    margin-left:0 ;
    margin-top: 50px;
    width: 100%;
    color: white;
}

.logo {
     margin-left: -50px;
}

.evann {
    margin-left: -300px;
    margin-top: 0%;
}

.elisabeth {
    margin-left: 10%;
    margin-top: 0%;
}

.jordan {
    margin-left: 20%;
    margin-top: 0%;
}

.megan {
    margin-left: 15%;
    margin-top: 0px;
}

.carolyn {
    margin-left: 10%;
    margin-top: 0px;
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 719px) {
 
    .IJS-graphic {
    margin-top: 80%;
}
  
 #intro { 
	padding: 5%;
    margin-top: -120px;
 }
    
.row {
    display: flex;
    flex-direction: column;
}
.quote1 {
    width: 90%;
}
    
#row8bg {
    height: 100vh; 
    height: 100vh; 
    position: relative;
    z-index: 100;
	opacity: 1;
}

#row9 {
    height: 500vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    padding-top: 10%;
}
   #lawsuit-heading {
    color: white;
    width: 100%;
    margin-left: 29%;
} 
    
    .lawsuit {
    margin-left: 15%;
    padding: 0%;
    width: 75%;
    color:  white;
}
    #row14 iframe {
        width: 100%;
    }
    
    #row6 iframe {
      width: 100%;
    }
    
    #row9a p {
      width: 75%; 
    }
    
    p#sevenranges {
    margin-top: 6%;
    }
    
    #row19 iframe {
    width: 100%;
}
    
    #historyintro {
    color: white;
    width: 75%;
    margin-left: 15%;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}



@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}