* { 
  box-sizing: border-box;
}

body {
    width: 100%;
}


.vertical-center {
    display: flex;
    align-items: center;
}


.block {
    color: #ffffff;
    width: 80%;  
}


/* ----------------- ROW 1 ---------------- */
#row1 {
    height: 100vh;
    width: 100vw;
}

#row1bg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
    background-image: url(../img/Rogers_Selects022crop.jpg);
    position: fixed;
    z-index: -100;  
}

/* ---------- ROW 2 ----*/
#row2 {
    background-color: #000000;
    opacity: .8;
    height: 100vh;
    width: 100vw;
}


/* --------- ROW 3 --------- */
#row3 {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-bottom: 10%;
}

@media (max-width: 560px) {
    .thesis-heading {
        margin-top: 50px;
    }
}
/* ---------- ROW 4 -------- */
#row4 {
    height: 120vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

#row4a {
    height: 75vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;

}

#row4a p {
    color: #FFFFFF;
}

#row4text {
    position: relative;
    z-index: 100;
    margin-top: 0px;
}

/* ---------- ROW 6 ----*/
#row6 {
    height: 120vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;

}

#row6a {
    height: 100vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;
}


/* ---------- ROW 7 ----*/
#row7 {
    height: 100vh;
    width: 100vw;
    background: url('../img/Rogers_Selects032.jpg');
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-position: center top !important;
    padding: 1rem;
    padding-top: 0%;
    color: #fff;
}

/* ---------- ROW 8 ----*/

#row8bg {
    height: 120vh;
    width: 100vw;
    background-color: rgba(31,31,31,0.75);
    position: relative;
}

#mcfamily {
    color: white;
    margin-left: 33%;
    margin-top: 5%;
}
/* ---------- ROW 9 ----*/
#row9 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
}

/*--------INFOGRAPHIC----*/

div#history {
    height: 200vh;
    width: 100vw;
    background-color: #1F1F1F;
    position: relative;
   
}

/* ---------- BACKGROUND ----*/

#greybg {
    height: 300vh;
    width: 100vw;
	background-color: #D6D6D6;
}

/* ---------- ROW 10 ----*/

#row10 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;
}

/* ---------- ROW 11 ----*/

#row11 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;
}

/* ---------- ROW 12 ----*/
#row12 {
    height: 100vh;
    width: 100vw;
	background-color: #D6D6D6;

}

/* ---------- ROW 14 ----*/
#row14 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
}

/* ---------- ROW 15 ----*/
#row15 {
	height: 100vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 5%;
}

/* ---------- ROW 16 ----*/
#row16 {
	height: 100vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 25%;
}

/* ---------- ROW 17 ----*/
#row17 {
	height: 120vh;
    width: 100vw;
    position: relative;
	background-color: #1F1F1F;
    padding-bottom: 40%;
    padding-top: 30%;
}

/* ---------- ROW 19 ----*/
#row19 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    
}

/* ---------- ROW 20 ----*/
#row20 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    
}

/* ---------- ROW 21 ----*/
#row21 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #1F1F1F;
    
}

/* ---------- ROW 23 ----*/
#row23 {
    width: 100%;
    position: relative;
    background-color: #8EB950;
    color: #ffffff;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}

/* ---------- FOOTER ----*/

#copyright {
    margin-left: 0;
    margin-top: 130px;
    width: 100%;
}

.evann {
    margin-left: 0%;
    margin-top: 0%;
}

.elisabeth {
    margin-left: 10%;
    margin-top: 0%;
}

.jordan {
    margin-left: 10%;
    margin-top: 0%;
}

.megan {
    margin-left: 90%;
    margin-top: -100px;
}

.carolyn {
    margin-left: 120%;
    margin-top: -130px;
}

/* Extra small devices (portrait tablets and large phones, 576px and up) */

@media only screen and (min-width: 576px) {
    .vertical-center {
        flex-direction: column;
    }
    
    #intro {
    margin-top: 0%;
    z-index: 200;
    }
    
    .IJS-graphic {
    width: 100%;        
  }
    
    #girls-silly {
        width: 100%;
        height: auto;
    }
}
    
/* Small devices (portrait tablets and large phones, 600px and up) */



@media only screen and (min-width: 576px) {
    .vertical-center {
        flex-direction: column;
    }
    
    #intro {
    top: -100px;
    z-index: 200;
}
    
     .IJS-graphic {
    width: 100%;
    margin-top: 25%;
         
}
  #girls-silly {
        width: 10%;
    }
    
     #row4text {
        width: 150%;
        margin-top: -500px;
         
    }
    
    #row6 iframe {
        width: 90%;
    } 
    
    #row9 {
        height: 500vh;
    }
    
    #bobcat {
    margin-top: 0%;
    margin-left: 0%;
    width: 50%;
}

#tiger {
    margin-left: 0%;
}

#wolf {
    margin-left: 0%;
}

#bear {
    margin-top: 0px;
    margin-left: 0%;
    width: 50%;  
}

#webelo {
    margin-top: 0px;
    margin-left: 0%;
    width: 50%;
}
  
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .vertical-center {
        flex-direction: column;
    }
    

.IJS-graphic {
    width: 100%;
    margin-top: 28%;
}
    
    #intro {
    top: 10px;
    z-index: 200;
    left: -25px;
}
  
    #girls-silly {
        width: 150%;
        margin-left: -60px;
    }
    
    #row4text {
        width: 150%;
        margin-top: -500px;
    }
    
    
    #row6 iframe {
        width: 90%;
    } 
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.IJS-graphic {
   width: 100%;
    margin-top: 20%;
    
}
    
    
#intro {
    top: 20%;
    z-index: 200;
    display: block;
}
    
#girls-silly {
        width: 130%;
        margin-left: -80px;
    }
    
.text-block-2a {
  margin-left: -70px;  
}

    #row6 iframe {
        width: 80%;
    }  
}
     
/* X-Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {

.IJS-graphic {
    width: 100%;
    margin-top: 20%;
    
}
    
  #intro {
    top: 29%;
    z-index: 200;
    display: block;
}
    
    .text-block-2a {
  margin-left: -70px;  
}

}
  